.counter {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;

  &__icon {

  }

  &__number {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  &__current, &__goal {
    color: white;
  }
}
