<div class="dial">

  <!--<circle-progress-->
    <!--class="circle-progress"-->
    <!--[percent]="20"-->
    <!--[maxPercent]="100"-->
    <!--[radius]="176"-->
    <!--[outerStrokeGradient]="false"-->
    <!--[outerStrokeWidth]="4"-->
    <!--[innerStrokeWidth]="4"-->
    <!--[space]="-4"-->
    <!--[outerStrokeColor]="'#43a047'"-->
    <!--[innerStrokeColor]="'#424242'"-->
    <!--[animation]="true"-->
    <!--[animateTitle]="false"-->
    <!--[showUnits]="false"-->
    <!--[showTitle]="false"-->
    <!--[showSubtitle]="false"-->
    <!--[showBackground]="false"-->
    <!--[animationDuration]="1000"-->
    <!--[startFromZero]="true"-->
    <!--[clockwise]="false"-->
  <!--&gt;</circle-progress>-->
  <div class="battery">
    <div class="battery__level">{{ gearBatteryLevel?.toFixed(0) }}<span class="battery__percentage">%</span></div>
    <round-progress class="battery__progress"
      [rounded]="true"
      [responsive]="true"
      [semicircle]="true"
      [current]="gearBatteryLevel"
      [max]="100"
      [radius]="100"
      [color]="'#388e3c'"
    ></round-progress>
  </div>

  <div class="dot"></div>
  <div class="sec-hand" *ngIf="!isAmbientMode" [style.transform]="getRotateStyle(secondAngle)"></div>
  <div class="sec-hand shadow" *ngIf="!isAmbientMode" [style.transform]="getRotateStyle(secondAngle)"></div>
  <div class="min-hand" [style.transform]="getRotateStyle(minuteAngle)"></div>
  <div class="min-hand shadow" [style.transform]="getRotateStyle(minuteAngle)"></div>
  <div class="hour-hand" [style.transform]="getRotateStyle(hourAngle)"></div>
  <div class="hour-hand shadow" [style.transform]="getRotateStyle(hourAngle)"></div>
  <span class="twelve">12</span>
  <span class="three">3</span>
  <span class="six">6</span>
  <span class="nine">9</span>
  <span class="diallines" *ngFor="let i of secondArray" [style.transform]="getRotateValue(i)"></span>
  <div class="date">{{ day }}</div>
</div>
