<div class="dial">
  <div class="battery-widget">
    <app-battery [batteryLevel]="gearBatteryLevel"></app-battery>
  </div>
   <!--TODO fix for Tizen V3.0-->
  <div class="weather-widget">
    <app-weather></app-weather>
  </div>

  <div class="dot"></div>
  <div class="sec-hand" [class.visible]="!isAmbientMode" [style.transform]="getRotateStyle(secondAngle)"></div>
  <div class="sec-hand shadow" [class.visible]="!isAmbientMode" [style.transform]="getRotateStyle(secondAngle)"></div>
  <div class="min-hand" [style.transform]="getRotateStyle(minuteAngle)"></div>
  <div class="min-hand shadow" [style.transform]="getRotateStyle(minuteAngle)"></div>
  <div class="hour-hand" [style.transform]="getRotateStyle(hourAngle)"></div>
  <div class="hour-hand shadow" [style.transform]="getRotateStyle(hourAngle)"></div>
  <span class="twelve">12</span>
  <span class="three">3</span>
  <span class="six">6</span>
  <span class="nine">9</span>
  <span class="diallines" *ngFor="let i of secondArray" [style.transform]="getRotateValue(i)"></span>
  <div class="date">{{ day }}</div>
</div>
