:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.weather {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  margin-top: -8px;
  font-family: Lato, sans-serif;

  &__info {
    display: flex;
    align-items: flex-start;
  }

  &__temp {
    font-size: 20px;
    font-weight: bold;
  }

  &__units {
    font-size: 16px;
    padding-left: 2px;
  }
}

.weather-wrapper {
  display: flex;
  flex-direction: column;

  &__city {
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #f2f2f2;
  }
}

.device__status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  height: 32px;
  width: 100px;
}

.device__status-icon {
  height: 18px;
}

.date-time {
  position: absolute;
  display: flex;
  align-self: center;
  top: 35px;
  color: #f2f2f2;
  font-size: 12px;
}

.debug {
  position: absolute;
  color: #f2f2f2;
}
